
<div class="text-primary bg-surface border-background flex flex-col h-full">
    <div class="flex justify-between items-center pt-8 px-6 pb-0">
        <h2 class="text-xl">My Keybinds</h2>
        <input
            type="text"
            placeholder="Search"  
            (input)="onSearch($event)"
            (focus)="searchExpanded = true"
            (blur)="searchExpanded = false"
            [class]="searchExpanded ? 'w-48' : 'w-20'"
            class="bg-zinc-700 text-sm text-primary placeholder-zinc-400 rounded px-3 py-1.5 outline-none focus:ring-1 focus:ring-zinc-500 transition-all duration-300"
            />
    </div>
    <div class="p-2 bg-zinc-700 shadow-2xl mx-4 mt-3 rounded-sm flex-1">
        @if (keybinds.length === 0){
            <p class="font-jakarta text-muted">You have no custom keybinds yet. Add one below to get started.</p>
        }
        @else {
            <ul class="font-jetbrainsmono">
                @for (keybind of keybinds; track keybind.name + keybind.keyCombo; let i = $index) {
                    <li class="flex items-center gap-4 py-2">
                        <span class="font-jakarta">{{keybind.name}} </span> 
                        —
                        <span class="font-jetbrainsmono"> {{ keybind.keyCombo }}</span>
                    </li>
                }
            </ul>
        }
    </div>

    <div class="px-4 pt-3 pb-4">
        <button (click)="openPopup()" class="bg-blue-700 hover:bg-blue-600 text-sm px-3 py-1.5 rounded transition-colors">
            + Add Keybind
        </button>
    </div>
</div>

<app-add-keybind-modal
    [isOpen]="modalOpen"
    (closed)="modalOpen = false"
    (keybindAdded)="onKeybindAdded($event)"
/>
