/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@source "../src/**/*.{html,ts}";

/* Tailwind theme */
@theme {
  --font-geist: Geist, sans-serif;
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-jetbrainsmono: 'JetBrains Mono', monospace;

  --color-background: #0F1419;
  --color-surface: #1a2332;
  --color-primary: #E6EDF3;
  --color-accent: #3B82F6;
  --color-accenthover: #60a5fa;
  --color-border: #2D3A4F;
  --color-muted: #8b9bb4;
  --color-sucess: #22c55e;
  --color-error: #ef4444;
}

html, body {
  background-color: #0F1419 ;
  height: 100%;
}

app-root {
  display: block;
  height: 100%;
}

:root {
  font-family: Geist, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #e6edf3;
  background-color: #0F1419;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
